*{
    box-sizing: border-box;
}
.header {
    position: relative;
    text-align: centre;
    color: white;
    font-size: 100px;
}

/* Centered Text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
body{
    background-color: aquamarine;
}
.wrapper{
    margin: 0px auto;
    width: 1000px;
    background-color: lightcyan;
}

.container{
    margin: 0px auto;
}

img{
    float: left;
    padding: 10px;
}