.header {
    position: relative;
    text-align: centre;
    color: white;
    font-size: 100px;
}

/* Centered Text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}